.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.title {
  text-align: center;
}

.victory {
  text-align: center;
}

.typeBar {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.snippet {
  align-items: center;
  width: 15%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
